<extend name="public:frameset"/>
<block name="body">
	<div class="in-category">
		<div class="in-header">			
		</div>
		<div class="ca-container">
				<div class="title">	
					<h3>
							<em>NEXT BLOG</em>
			   		</h3>
			   	</div>
			   	<div class="container">
					<ul>
						<volist name="detail" id="vo">
						    <li>
						        <div class="content">
						            <a class="relatea" href="{:U('Index/detail',array('id'=>$vo['id']))}" title="">{$vo.title}</a>
						            {$vo.content|mb_substr=###,0,200,'utf-8'}
						        </div>
						        <div class="ca-img">
						            <img class="" src="__PUBLIC__/{$vo['img_file']}" alt="">
						        </div>
						    </li>
					    </volist>
			    	</ul>
			    </div>
		</div>
		<div class="page">
			<ul>
				{$page}
			</ul>
		</div>
	</div>
</block>