<extend name="public:frameset" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/assets/pages/styles/homePage.css"/>
</block>
<block name="body">
	<div class="homePage">
		<div class="headerInfo">
			<div class="Info-con">
				<a href="">
					<img src="/NewBlog/Public/assets/global/img/avatar/child.jpg" alt="" />
				</a>
				<a href="">基围虾</a>
			</div>
		</div>
	</div>
</block>
<block name="script">
    <script type="text/javascript" src="__ROOT__/Public/assets/pages/scripts/homePage.js"></script> 
</block>
<block name="script-init">
    <script type="text/javascript">
	    $(document).ready(function(){
	        
	    })
    </script>
</block>